<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<h1>website is in progress : surely done before 2 Aug 11:00 am</h1>
<h2>issue arise in deployment and blog write section</h2>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
</body>
</html>